<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mola Maluca - Slinky</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Mola Maluca</h1>
        <p>Explorando o comportamento fascinante da Slinky em queda livre.</p>
    </header>

    <main class="container">
        <section>
            <h2>Introdução</h2>
            <p>Molas são usadas em diversas áreas do conhecimento. A Slinky, conhecida como mola maluca, é um brinquedo que apresenta um comportamento curioso durante a queda livre.</p>

        <video loop autoplay muted class="video">
            <source src="static/videos/falling-slinky-orange.mp4" type="video/mp4">
            Seu navegador não suporta o elemento de vídeo.
        </video>
        <figcaption><strong>Vídeo 1 </strong>- <i>Mola maluca em queda livre</i></figcaption>
                  
        </section>

        <section>
            <h2>Passo a Passo</h2>

            <article>
                <h3>Passo 1: Discretização</h3>
                <p>A mola é dividida em espiras. Cada espira tem uma posição, massa e constante elástica.</p>
                <pre><code>
                </code></pre>
                <div class="image-wrap">
                    <img  width="450px" src="/static/images/slinky_dicretization.png" alt="Discretização da mola">
                </div>
                <figcaption><strong>Figura 1 </strong>- <i>Discretização da Mola</i></figcaption>
            </article>
 
            <article>
                <h3>Passo 2: Sistema Massa-Mola</h3>
                <p>Definimos as forças que atuam em cada espira e formulamos as equações diferenciais para descrever o movimento.</p>
                <pre><code>
                </code></pre>
                <div class="image-wrap">
                    <img  width="450px" src="/static/images/forces-diagram.png" alt="Sistema Massa-Mola">
                </div>
                <figcaption><strong>Figura 2 </strong>- <i>Sistema Massa-Mola</i></figcaption>
            </article>
 
            <article>
                <h3>Passo 3: Colisões</h3>
                <p>Modelamos as colisões inelásticas entre as espiras durante a queda.</p>
                <pre><code>
                </code></pre>
                <img src="/static/images/colisoes.png" alt="Colisões entre espiras">
            </article>

            <div class="animation-container">
                <h3>Spring Animation</h1>
                <canvas id="springCanvas" width="800" height="600"></canvas>
                <div class="input-dados">
                    <label for="N">Número de espiras da mola (N):</label>
                    <input type="number" step="1" min="5" max="500" value="10" id="N" name="N" required><br><br>
                    <label for="k">Constante de elasticidade da mola (k):</label>
                    <input type="number" step="0.001" min="0.05" max="50000" value="0.657" id="k" name="k" step="any" required><br><br>
                    <label for="m">Massa da mola (m):</label>
                    <input type="number" step="0.01" min="0.001" max="100" value="0.25" id="m" name="m" step="any" required><br><br>
                    <label for="L">Tamanho em repouso (L):</label>
                    <input type="number" step="0.001" min="0.01" max="100" value="0.072" id="L" name="L" step="any" required><br><br>
                    <label for="g">Gravidade (g):</label>
                    <select id="g" name="g" required>
                        <option value="9.81">Terra (9.81 m/s²)</option>
                        <option value="3.72">Marte (3.72 m/s²)</option>
                        <option value="24.79">Júpiter (24.79 m/s²)</option>
                        <option value="8.87">Vênus (8.87 m/s²)</option>
                        <option value="1.62">Lua (1.62 m/s²)</option>
                        <option value="10.44">Saturno (10.44 m/s²)</option>
                        <option value="11.15">Netuno (11.15 m/s²)</option>
                        <option value="8.69">Urano (8.69 m/s²)</option>
                        <option value="3.7">Mercúrio (3.7 m/s²)</option>
                    </select><br><br>
                    <button id="animateButton" onclick="animar_mola()">Animar a mola</button>
                </div>
            </div>
        </section>
    </main>
 
    <footer>
        <p>Alunos: Ana Beatriz Lana, Gustavo Carvalhaes e Pedro Leopoldo Dal-Col</p>
        <p>Baseado no trabalho de Jonata Jefferson Andrade e Tales Lima Fonseca, 2014.</p>
    </footer>

    <script>
        class Espira {
            constructor(ke, me, y_i, v_i, primeira = false, ultima = false) {
                this.ke = ke;
                this.me = me;
                this.primeira = primeira;
                this.ultima = ultima;
                this.v = v_i;
                this.y = y_i;
            }

            edo_y() {
                return Math.round(this.v * 1000) / 1000;
            }

            edo_v(g, y_antes, y_depois) {
                let valor;
                if (!this.primeira && !this.ultima) {
                    valor = -g + (-(this.ke / this.me) * Math.abs(y_depois - this.y) + ((this.ke / this.me) * Math.abs(this.y - y_antes)));
                } else if (this.primeira) {
                    valor = -g - ((this.ke / this.me) * Math.abs(y_depois - this.y));
                } else {
                    valor = -g + ((this.ke / this.me) * Math.abs(this.y - y_antes));
                }

                return Math.round(valor * 1000) / 1000; // rounding to 4 decimal places
            }

            toString() {
                return `espira(ke=${this.ke}, me=${this.me}, y_i=${this.y}, v_i=${this.v}, primeira=${this.primeira}, ultima=${this.ultima})`;
            }
        }

        class Mola {
            constructor(N, k, m, L, g = 10) {
                this.original_N = N;
                this.N = N;
                this.k = k;
                this.m = m;
                this.g = g;
                this.L = L;
                this.espiras = [];
            }

            toString() {
                return `mola(N=${this.N}, k=${this.k}, m=${this.m}, g=${this.g}, L=${this.L}, espiras=${this.espiras.map(e => e.toString())})`;
            }

            reset() {
                this.N = this.original_N;
                this.espiras = [];
                for (let i = 0; i < this.original_N; i++) {
                    this.espiras.push(new Espira(
                        this.k * (this.original_N - 1),
                        this.m / this.original_N,
                        0,
                        0,
                        i === 0,
                        i === (this.original_N - 1)
                    ));
                }

                this.espiras[0].y = 0;
                let y_anterior = 0;
                for (let idx = 1; idx < this.espiras.length; idx++) {
                    const espira = this.espiras[idx];
                    const correct_idx = idx;
                    const somatorio = (-this.g / espira.ke) * this.espiras.slice(correct_idx).reduce((sum, e) => sum + e.me, 0);
                    espira.y = y_anterior + somatorio;
                    y_anterior = espira.y;
                }
            }

            passo_euler(step) {
                const new_y = [];
                const new_v = [];
                for (let idx = 0; idx < this.espiras.length; idx++) {
                    const espira = this.espiras[idx];
                    const y_antes = this.espiras[idx - 1]?.y || 0;
                    const y_depois = this.espiras[idx + 1]?.y || 0;
                    new_y.push(espira.y + step * espira.edo_y());
                    new_v.push(espira.v + step * espira.edo_v(this.g, y_antes, y_depois));
                }

                for (let idx = 0; idx < this.espiras.length; idx++) {
                    this.espiras[idx].y = new_y[idx];
                    this.espiras[idx].v = new_v[idx];
                }

                if (this.espiras.length > 1 && this.espiras[0].y <= this.espiras[1].y) {
                    this.colisao();
                }
            }

            colisao() {
                const espira1 = this.espiras.shift();
                const espira2 = this.espiras.shift();

                const m_res = espira1.me + espira2.me;
                const v_res = (espira1.me * espira1.v + espira2.me * espira2.v) / m_res;

                const espira_res = new Espira(
                    espira1.ke,
                    m_res,
                    espira2.y,
                    v_res,
                    true,
                    this.espiras.length === 1
                );

                this.espiras.unshift(espira_res);
                this.N -= 1;
            }

            plot_wave(start, end, f = 1) {
                const amplitude = 0.1;
                const wavelength = end - start;
                const x = Array.from({ length: 1000 }, (_, i) => start + (i * (end - start)) / 999);
                const y = x.map(xi => amplitude * Math.sin(2 * Math.PI * (xi - start) * f / wavelength));
                return [x, y];
            }

            plot_slinky(initial_size = true) {
                let i = 0;
                let x_arr = [];
                let y_arr = [];
                if (this.espiras.length > 1) {
                    for (let idx = 0; idx < this.espiras.length - 1; idx++) {
                        const espira1 = this.espiras[idx];
                        const espira2 = this.espiras[idx + 1];
                        if (i === 0 && initial_size) {
                            const [x, y] = this.plot_wave(espira1.y + this.L, espira1.y, (this.original_N + 1) - this.N);
                            x_arr = x_arr.concat(x);
                            y_arr = y_arr.concat(y);
                        }

                        const [x, y] = this.plot_wave(espira1.y, espira2.y, 1);
                        x_arr = x_arr.concat(x);
                        y_arr = y_arr.concat(y);
                        i += 1;
                    }
                } else {
                    const [x, y] = this.plot_wave(this.espiras[0].y - this.L, this.espiras[0].y, this.original_N);
                    x_arr = x_arr.concat(x);
                    y_arr = y_arr.concat(y);
                }

                return [x_arr, y_arr];
            }
        }

        const mola = new Mola(10, 0.6556369155, 0.2510, 0.0722, 10);
        let animationId = null;

        function animar_mola(step = 0.001, initial_size = true, xlim = [-2, 2], ylim = [-2, 0.2]) {
            try{
                mola.N = parseInt(document.getElementById('N').value);
                mola.original_N = mola.N;
                mola.k = parseFloat(document.getElementById('k').value);
                mola.m = parseFloat(document.getElementById('m').value);
                mola.L = parseFloat(document.getElementById('L').value);
                mola.g = parseFloat(document.getElementById('g').value);
                console.log(mola);
            }catch(e){
                alert(e);
            }

            if(animationId) {
                cancelAnimationFrame(animationId);
            }
            mola.reset();

            const canvas = document.getElementById('springCanvas');
            const ctx = canvas.getContext('2d');

            const animate = (i) => {
                mola.passo_euler(step);
                const [y, x] = mola.plot_slinky(initial_size);
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                ctx.beginPath();
                x.forEach((xi, idx) => {
                    ctx.lineTo(xi * canvas.width / 4 + canvas.width / 2, -y[idx] * canvas.height / 4 + canvas.height / 4);
                });
                ctx.stroke();
                

                if (i < 1 / step) {
                    animationId = requestAnimationFrame(() => animate(i + 1));
                }

                
            };

            animate(0);
        }
        // animar_mola(mola);
    </script>

    <style>
        .input-dados{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
        }
        .animation-container{
            display: flex;
        }
    </style>
</body>
</html>